body {
	font-family: sans-serif;
	color: #dddddd;
	background-color: #333333;
	max-width: 600px;
	margin: auto;
	padding-right: 20px;
	padding-left: 20px;
	height: 100%;
	font-size: .97em;
}

a {
	color: #dddddd;
}

a:visited {
	color: #aaaaaa;
}

a:hover {
	color: #ffffff;
}

img {
	width: 100%;
	margin-left: .5em;
	margin-right: .5em;
	border-radius: 5%;
}

figure {
	margin-left: 0px;
	margin-right: 0px;
}

#main-header h1 {
	margin-bottom: 10px;
}

#main-header p {
	font-size: 95%;
	color: #aaaaaa;
	margin-top: 0px;
	margin-bottom: 25px;
}

figure figcaption {
	font-size: 95%;
	color: #999999;
}

#main-footer {
	font-size: 95%;
	color: #999999;
	margin-top: 25px;
	margin-bottom: 1.6em;
}

#main-footer a {
	color: #999999;
}

#main-footer a:visited {
	color: #7f7f7f;
}

#main-footer a:hover {
	color: #bbbbbb;
}

#return-to-root a {
	text-decoration: none;
}

#return-to-root {
	margin-bottom: -0.4em;
}

#main-content p {
	line-height: 22px;
	padding-left: .18em;
	padding-right: .18em;
}

.note {
	font-size: 85%;
	color: #aaaaaa;
	text-align: left;
  font-weight: normal;
}

.note a {
	color: #999999;
}

.note a:visited {
	color: #7f7f7f;
}

.note a:hover {
	color: #bbbbbb;
}

.note-row {
	height: 3em;
	vertical-align: bottom;
}

table {
	width: 100%;
}

table ul {
	margin: 0;
	padding-left: 2.31em;
}

li {
	padding-bottom: .3em;
}

#sole-content li {
	padding-bottom: 1em;
}

#portrait {
	 width: 15%;
	 float: right;
}

.item-details {
	font-size: 80%;
	opacity: 70%;
	margin-top: 0;
}

.more {
	font-size: 70%;
}

.separator {
	margin: 0.05em;
}

.icon {
	width: 1em;
	margin: 0 0.15em -0.1em 0.15em;
}

.icon:hover {
	filter: brightness(130%);
}

ul {
	padding-left: 2em;
}

table ul {
	padding-left: 2em;
}

table ul ul {
	padding-left: 1em;
}
